<div class="menu">
        <div class="container">
            <div class="menu__info">
                {% if header.extended_logo %}
                <div class="menu__info_logo">
                    <img src="{{header.extended_logo}}" class="menu__info_logo-img" alt="{{header.extended_logo_alt}}">
                </div>
                {% endif %}
                <a href="./form_startprj.html" class="menu__info_startprj">
                    <p>Начать проект</p>
                </a>
                {% if footer.footer_contacts.0 %}
                <div class="menu__info_contacts">
                    {% if footer.footer_contacts.0.phone %}
                    <p class="menu__info_contacts_phone">{{footer.footer_contacts.0.phone}}</p>
                    {% endif %}
                    {% if footer.footer_contacts.0.mail %}
                    <p class="menu__info_contacts_mail">{{footer.footer_contacts.0.mail}}</p>
                    {% endif %}
                </div>
                {% endif %}
                {% if footer.footer_links %}
                <ul class="menu__info_links">
                    {% for link in footer.footer_links %}
                    <li class="menu__info_links_item">
                        <a href="{{link.link}}"><p>{{link.name}}</p></a>
                    </li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
            {% include 'menus/extended_menu.html' with menu=menus.extended_menu %}
        </div>
</div>
