{% load static %}
<footer class="footer">
        <div class="footer-up">
            <div class="footer-up__group container">
                {% if footer.footer_contacts.0 %}
                <div class="footer-up__group_contacts">
                    {% if footer.footer_contacts.0.title %}
                    <p class="footer-up__group_contacts_title">{{footer.footer_contacts.0.title}}</p>
                    {% endif %}
                    {% if footer.footer_contacts.0.phone %}
                    <p class="footer-up__group_contacts_phone">{{footer.footer_contacts.0.phone}}</p>
                    {% endif %}
                    {% if footer.footer_contacts.0.mail %}
                    <p class="footer-up__group_contacts_mail">{{footer.footer_contacts.0.mail}}</p>
                    {% endif %}
                </div>
                {% endif %}
                {% if footer.footer_application.0 %}
                <div class="footer-up__group_application">
                    {% if footer.footer_application.0.text %}
                    <p class="footer-up__group_application_title">{{footer.footer_application.0.text}}</p>
                    {% endif %}
                    {% if footer.footer_application.0.link %}
                    <a href="{{footer.footer_application.0.link}}" class="footer-up__group_application_link">
                        <p>{{footer.footer_application.0.link_text}}</p>
                        </a>
                    {% endif %}
                </div>
                {% endif %}
            </div>
            {% if footer.footer_location %}
            <ul class="footer-up__list container">
                {% for location in footer.footer_location %}
                <li class="footer-up__list_item">
                    <div class="footer-up__list_item_text">
                        <p class="footer-up__list_item_text-city">{{location.city}}</p>
                        <p class="footer-up__list_item_text-adress">{{location.address}}</p>
                    </div>
                </li>
                {% endfor %}
            </ul>
            {% endif %}
            {% if footer.footer_links %}
            <ul class="footer-up__links container">
                {% for link in footer.footer_links %}
                <li class="footer-up__links_item">
                    <a href="{{link.link}}"><p>{{link.name}}</p></a>
                </li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
        <div class="footer-down">
            <div class="footer-down_group container">
                {% if footer.left_bottom_text %}
                <p class="footer-down_group_text">{{footer.left_bottom_text}}</p>
                {% endif %}
                {% if footer.right_bottom_text %}
                <a href="#" class="footer-down_group_link">{{footer.right_bottom_text}}</a>
                {% endif %}
            </div>
        </div>
</footer>
