{% load static %}
<header class="header container">

    <a href="./index.html" class="header__logo">
        <img src="{{header.logo}}" alt="{{header.logo_alt}}">
    </a>

    <nav class="header__navigation">
        {% include 'menus/header_menu.html' with menu=menus.header_menu %}
        {% if header.phone %}
        <a href="tel:{{header.phone_url}}" class="header__navigation_phone">{{header.phone}}</a>
        {% endif %}

        <button class="header__navigation_menu">
            <span class="header__navigation_menu-description">Меню</span>
                <div class="header__navigation_menu-lines">
                    <span></span>
                    <span></span>
                </div>
        </button>
    </nav>

</header>
