{% load static %}
<header class="header container">

    <a href="./index.html" class="header__logo">
        <img src="{{header.logo}}" alt="{{header.logo_alt}}">
    </a>

    <nav class="header__navigation">
        {% include 'menus/header_menu.html' with menu=menus.header_menu %}
        <a href="tel:{{header.phone_url}}" class="header__navigation_phone">{{header.phone}}</a>

        <button class="header__navigation_menu">
            <p class="header__navigation_menu-description">Меню</p>
            <img src="{% static 'imgs/menu_btn.svg' %}" class="header__navigation_menu-img" alt="menu-btn">
        </button>
    </nav>

</header>
