{% load static %}
<ul class="realization__imgs">
                <li class="realization__imgs_item">
                    <img src="{% static 'imgs/realization__img_1.jpg' %}" class="realization__imgs_item-img"
                        alt="realization__img_1">
                </li>
                <li class="realization__imgs_item">
                    <img src="{% static 'imgs/realization__img_2.jpg' %}" class="realization__imgs_item-img"
                        alt="realization__img_2">
                    <img src="{% static 'imgs/realization__img_3.jpg' %}" class="realization__imgs_item-img"
                        alt="realization__img_3">
                </li>
                <li class="realization__imgs_item">
                    <img src="{% static 'imgs/realization__img_4.jpg' %}" class="realization__imgs_item-img"
                        alt="realization__img_4">
                    <img src="{% static 'imgs/realization__img_5.jpg' %}" class="realization__imgs_item-img"
                        alt="realization__img_5">
                </li>
</ul>
