{% load static %}
<div class="technologies-description__imgs">
                    <ul class="technologies-description__imgs_list">
                        <li class="technologies-description__imgs_list_item">
                            <img src="{% static 'imgs/technologies_img_1.jpg' %}"
                                class="technologies-description__imgs_list_item-img" alt="technologies_img_1">
                        </li>
                        <li class="technologies-description__imgs_list_item">
                            <img src="{% static 'imgs/technologies_img_2.jpg' %}"
                                class="technologies-description__imgs_list_item-img" alt="technologies_img_2">
                            <img src="{% static 'imgs/technologies_img_3.jpg' %}"
                                class="technologies-description__imgs_list_item-img" alt="technologies_img_3">
                        </li>
                    </ul>
                    <ul class="technologies-description__imgs_list">
                        <li class="technologies-description__imgs_list_item">
                            <img src="{% static 'imgs/technologies_img_4.jpg' %}"
                                class="technologies-description__imgs_list_item-img" alt="technologies_img_4">
                            <img src="{% static 'imgs/technologies_img_5.jpg' %}"
                                class="technologies-description__imgs_list_item-img" alt="technologies_img_5">
                        </li>
                        <li class="technologies-description__imgs_list_item">
                            <img src="{% static 'imgs/technologies_img_6.jpg' %}"
                                class="technologies-description__imgs_list_item-img" alt="technologies_img_6">
                        </li>
                    </ul>
</div>
