{% load static %}
<section class="main-banner" {% if color.default is False %} style="background-color:{{color.color}}" {% endif %}>
    <h2 class="visually-hidden">Баннер</h2>
    <div class="main-banner-background" {% if color.default is False %}
         style="--color: {{color.color}}; --rgba: {{color.rgba}}" {% endif %}>
        <img src="{% static 'imgs/background.jpg' %}" class="main-banner-background-img">
    </div>
     <div class="main-banner-group container">
        <div class="main-banner-group__text">

            {% include 'include/breadcrumb.html' %}
            {% if top_block.top_right_text %}
            <p class="main-banner-group__text_signature">{{top_block.top_right_text}}</p>
            {% endif %}
        </div>
        <h3 class="main-banner-group__title">{{top_block.title}}</h3>
         {% if top_block.img %}
         <img src="{{top_block.img}}" class="main-banner-group__img" alt="{{top_block.img_alt}}">
         {% endif %}
     </div>
</section>
<section class="main-description" {% if color.default is False %} style="background-color:{{color.color}}" {% endif %}>
    <div class="main-description__group container">
        {% if top_block.logo %}
        <img src="{{top_block.logo}}" class="main-description__group-img" alt="{{top_block.logo_alt}}">
        {% endif %}
        {% if top_block.text %}
        <p class="main-description__group-text">{{top_block.text}}</p>
        {% endif %}
    </div>

</section>