{% extends 'base.html' %}

{% block content %}
<h1 class="visually-hidden">Образовательная платформа ILA EdTech</h1>
{% include 'include/top_block.html' %}
{% include 'include/description_block.html' %}
{% include 'include/implementation_block.html' %}
{% include 'include/team_block.html' %}
{% include 'include/technologies_block.html' %}
{% include 'include/arrow.html' %}
{% endblock %}

{% block footer %}
{% include 'include/footer.html' %}
{% include 'include/upward.html' %}
{% include 'include/extended.html' %}
{% include 'include/scripts.html' %}
{% endblock %}
