{% extends 'base.html' %}

{% block content %}
<main class="startprj">
     <form class="container" method="post">
            {% csrf_token %}
            <h1 class="visually-hidden">Заполнить форму "Начать проект"</h1>
            <div class="filter">
                <h3 class="default-title">{{form.title}}</h3>
                <div class="filter__services">
                    <h4 class="filter__services_title">{{form.subtitle}}</h4>
                    <ul class="filter__services_list">
                        {% for service in form.form_service %}
                        <li class="filter__services_list_item">
                            <input type="checkbox" class="filter__services_list_item-input" name="services"
                                id="{{service.html_name}}" value="{{service.html_name}}">
                            <label for="{{service.html_name}}">{{service.name}}</label>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="filter__budget">
                    <h4 class="filter__budget_title">{{form.filter_title}}</h4>
                    <input type="range" min="1" max="100" step="1" name="budget" id="myRange" class="filter__budget_slider" >
                    <p class="filter__budget_money">от <span id="myValue"></span>00000</p>
                </div>
            </div>
         <div class="info">
                <input type="text" name="username" placeholder="Имя*">
                <input type="text" class="tel" name="phone" placeholder="Телефон*">
                <input type="text" name="mail" placeholder="Электронная почта">
                <textarea name="purpose" placeholder="Опишите задачу"></textarea>
                <div class="info__file">
                     <input type="file" name="file" id="file"
                        accept=".doc,.docx,.xml,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document">
                    <label for="file">Прикрепите файл</label>
                </div>
                <input type="submit" class="info__submit" value="Отправить">
                <p class="info_acceptall">Нажимая на кнопку «Отправить», я соглашаюсь </br>
                    с <a href="#" class="info_acceptall-link">политикой конфиденциальности сайта</a>.</p>
            </div>
        </form>
</main>
{% endblock %}

{% block footer %}
<footer class="footer">
{% include 'include/footer_down.html' %}
</footer>
{% include 'include/upward.html' %}
{% include 'include/extended.html' %}
{% include 'include/form_script.html' %}
{% endblock %}
