
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include 'garpix_page/seo.html' %}
    {% include 'include/styles.html' %}
</head>
<body>
<!--{% include 'garpix_page/admin_toolbar.html' %}-->
{% include 'include/header.html' %}

<main class="main">
    {% block content %}
    {% endblock %}
</main>

{% include 'include/footer.html' %}
{% include 'include/upward.html' %}
{% include 'include/extended.html' %}
{% include 'include/scripts.html' %}
</body>
</html>

